In [1]:
from helper_functions import mhealth_get_dataset
import random
import tensorflow as tf

In [2]:

# Hyperparameters
# This is how many samples per col
data_length = 10

# Choose a random seed for now for reproducibility TODO REMOVE
random.seed(123)

# Get the dataset
dataset=mhealth_get_dataset()

# shuffle dataset
random.shuffle(dataset)

# get 8 training users and 2 test users
training_users,test_users = dataset[:8], dataset[8:]

In [20]:
import pandas as pd

tr_df = pd.DataFrame(training_users)

In [41]:
tr_df.head()

,data,file_location,id
0,"[[-9.2997, -0.671, 2.2449, 0.03349, 0.025118, ...",./mhealth-data\mHealth_subject8.log,8
1,"[[-9.5409, -1.2392, -0.77468, -0.083726, -0.05...",./mhealth-data\mHealth_subject7.log,7
2,"[[-8.3532, 2.5062, -2.406, -1.821, -1.1889, 0....",./mhealth-data\mHealth_subject5.log,5
3,"[[-9.5767, -1.4661, -0.34247, -0.087912, 0.037...",./mhealth-data\mHealth_subject9.log,9
4,"[[-9.8646, 0.2986, 1.69, -0.25955, -0.14652, 0...",./mhealth-data\mHealth_subject2.log,2

In [40]:
for d in tr_df.data:
    print(len(d))

129024
104448
119808
135168
130561
122112
98304
98304

In [42]:
te_df = pd.DataFrame(test_users)

In [45]:
te_df

,data,file_location,id
0,"[[-2.123, 2.1088, -8.9576, -0.10884, -0.44793,...",./mhealth-data\mHealth_subject4.log,4
1,"[[-9.8184, 0.009971, 0.29563, 0.0041863, 0.004...",./mhealth-data\mHealth_subject1.log,0

In [44]:
for d in te_df.data:
    print(len(d))

116736
161280

In [16]:
# previous=None
# user=training_users[0]['data']
# for data in user:
#     classifcation=data[23]
#     if not previous==classifcation:
#         previous=classifcation
#         print(classifcation)

In [49]:
previous=None
user=training_users[0]['data']
u_df = pd.DataFrame(user)
print(u_df.shape)
u_df.head()

(129024, 24)

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,-9.2997,-0.67100,2.2449,0.033490,0.025118,-0.56999,-9.8471,-1.5397,-0.14657,-0.16886,...,-2.1972,-9.4860,-0.59930,-0.69412,-0.28131,-0.42457,0.547510,0.89116,-1.08100,0.0
1,-9.3296,-0.68980,2.0748,0.062794,0.037677,-0.41798,-9.7781,-1.5764,-0.14657,-0.16886,...,-1.9841,-9.6963,-0.63065,-0.69020,-0.27310,-0.44181,0.003521,0.35208,-1.08650,0.0
2,-9.3448,-0.94215,2.0415,0.079540,0.025118,-0.15363,-9.7191,-1.6125,-0.16141,-0.17073,...,-2.1782,-9.5554,-0.54027,-0.69020,-0.27310,-0.44181,0.181220,0.16887,-1.08110,0.0
3,-9.4969,-0.91465,2.1703,0.100470,0.004186,-0.42629,-9.8462,-1.4549,-0.16141,-0.17073,...,-2.0065,-9.7055,-0.54777,-0.69020,-0.27310,-0.44181,0.357140,-0.19219,-0.71296,0.0
4,-9.6631,-0.68483,2.2542,0.079540,-0.020931,-0.43776,-9.7575,-1.4923,-0.16141,-0.17073,...,-2.1482,-9.5554,-0.54027,-0.69020,-0.27310,-0.44181,0.355290,-0.37725,-1.07220,0.0

In [50]:
for data in user:
    classifcation=data[23]
    if not previous==classifcation:
        previous=classifcation
        print(classifcation)

0.0
1.0
0.0
3.0
0.0
2.0
0.0
4.0
0.0
5.0
0.0
5.0
0.0
6.0
0.0
7.0
0.0
8.0
0.0
9.0
0.0
10.0
0.0
11.0
0.0
12.0
0.0