In [1]:
import helper_functions

In [2]:
lst = helper_functions.mhealth_get_dataset()

In [3]:
import pandas as pd

subjects = pd.DataFrame(lst)

In [4]:
subjects

,id,data,file_location
0,0,"[[-9.8184, 0.009971, 0.29563, 0.0041863, 0.004...",./mhealth-data/mHealth_subject1.log
1,1,"[[-9.5767, -1.4661, -0.34247, -0.087912, 0.037...",./mhealth-data/mHealth_subject9.log
2,2,"[[-2.123, 2.1088, -8.9576, -0.10884, -0.44793,...",./mhealth-data/mHealth_subject4.log
3,3,"[[-9.6997, -0.87525, -0.96298, -0.029304, -0.0...",./mhealth-data/mHealth_subject10.log
4,4,"[[-9.4674, 0.13721, 1.0545, 0.23862, -0.03349,...",./mhealth-data/mHealth_subject3.log
5,5,"[[-9.2997, -0.671, 2.2449, 0.03349, 0.025118, ...",./mhealth-data/mHealth_subject8.log
6,6,"[[-9.5409, -1.2392, -0.77468, -0.083726, -0.05...",./mhealth-data/mHealth_subject7.log
7,7,"[[-8.3532, 2.5062, -2.406, -1.821, -1.1889, 0....",./mhealth-data/mHealth_subject5.log
8,8,"[[-9.1319, 2.0514, -0.13116, 0.083726, -0.0418...",./mhealth-data/mHealth_subject6.log
9,9,"[[-9.8646, 0.2986, 1.69, -0.25955, -0.14652, 0...",./mhealth-data/mHealth_subject2.log

In [5]:
subjects.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             10 non-null     int64
 1   data           10 non-null     object
 2   file_location  10 non-null     object
dtypes: int64(1), object(2)
memory usage: 368.0+ bytes

In [6]:
# subjects.data
# subjects.data[0]
# len(subjects.data[0])
# len(subject0) # number of rows 
# len(subject0[0]) # numbers of columns
# for i in range(len(subjects.data[0])):
#     print(len(subjects.data[0][i]))

# 10 subjects
# Each subject has data which is a 2D list of length 161,280
# Every object in the 2D list is an list of length 24
# Getting first subjects data (2D list)

subject0 = subjects.data[0]

In [7]:
#Converting to DataFrame
subject0_df = pd.DataFrame(subject0)
subject0_df.shape # 161280 rows Ã— 24 columns

(161280, 24)

In [8]:
# Outputting first x rows
subject0_df.head()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
0,-9.8184,0.009971,0.29563,0.004186,0.004186,2.1849,-9.6967,0.63077,0.103900,-0.84053,...,-8.6499,-4.5781,0.187760,-0.44902,-1.0103,0.034483,-2.35000,-1.610200,-0.030899,0.0
1,-9.8489,0.524040,0.37348,0.004186,0.016745,2.3876,-9.5080,0.68389,0.085343,-0.83865,...,-8.6275,-4.3198,0.023595,-0.44902,-1.0103,0.034483,-2.16320,-0.882540,0.326570,0.0
2,-9.6602,0.181850,0.43742,0.016745,0.037677,2.4086,-9.5674,0.68113,0.085343,-0.83865,...,-8.5055,-4.2772,0.275720,-0.44902,-1.0103,0.034483,-1.61750,-0.165620,-0.030693,0.0
3,-9.6507,0.214220,0.24033,0.079540,0.117220,2.1814,-9.4301,0.55031,0.085343,-0.83865,...,-8.6279,-4.3163,0.367520,-0.45686,-1.0082,0.025862,-1.07710,0.006945,-0.382620,0.0
4,-9.7030,0.303890,0.31156,0.221870,0.205130,2.4173,-9.3889,0.71098,0.085343,-0.83865,...,-8.7008,-4.1459,0.407290,-0.45686,-1.0082,0.025862,-0.53684,0.175900,-1.095500,0.0

In [9]:
subject0_df.describe()

,0,1,2,3,4,5,6,7,8,9,...,14,15,16,17,18,19,20,21,22,23
count,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,...,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000,161280.000000
mean,-8.737671,0.186275,-0.645707,-0.007960,-0.035226,1.229914,-9.667029,-1.650613,0.010649,-0.663745,...,-4.178516,-4.873407,2.174713,-0.405350,-0.307315,0.312170,0.491517,0.550921,-0.231137,1.352356
std,3.806288,1.453274,3.740042,0.504334,0.643813,4.671081,4.064311,5.030605,0.495378,0.322115,...,4.316094,6.294977,3.620740,0.482499,0.657173,0.537174,26.486971,32.263002,62.555109,2.981766
min,-22.303000,-17.430000,-17.906000,-7.321800,-8.619600,-22.075000,-19.619000,-19.373000,-1.549200,-2.189500,...,-22.173000,-18.932000,-18.228000,-1.702000,-2.164300,-1.234900,-268.690000,-363.900000,-697.160000,0.000000
25%,-9.832900,-0.380693,-2.824350,-0.188380,-0.205130,0.095848,-10.066000,-3.288900,-0.372910,-0.848030,...,-6.267425,-9.271700,0.170480,-0.758820,-0.767970,-0.163790,-5.458975,-10.782000,-13.399000,0.000000
50%,-9.330700,0.252830,-0.316040,-0.025118,-0.025118,1.785900,-9.570500,-0.711750,-0.161410,-0.741090,...,-3.572100,-7.269950,1.478000,-0.505880,-0.587270,0.400860,0.362590,0.352170,-0.369920,0.000000
75%,-8.020800,0.770090,1.665425,0.154890,0.163270,2.643100,-9.025600,0.649125,0.500930,-0.596620,...,-1.819600,-0.063443,4.387400,-0.129410,0.223820,0.775860,6.048675,10.905250,12.793000,0.000000
max,18.960000,20.713000,24.084000,5.450500,8.519100,20.054000,21.161000,25.015000,1.870100,1.525300,...,19.565000,21.914000,25.194000,1.162700,1.556500,2.750000,212.270000,334.980000,629.950000,12.000000

In [10]:
subject0_df[23].describe()

count    161280.000000
mean          1.352356
std           2.981766
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max          12.000000
Name: 23, dtype: float64

In [11]:
# subject0_df[23][subject0_df[23] != 0]
# subject0_df[23][subject0_df[23] != 0].plot(kind='bar')

In [12]:
# subject0_df[23][subject0_df[23] != 0].head()
# subject0_df[23][subject0_df[23] != 0].count()#35174 non-zero values meaning

# 0 is null class. There is no activity going on?

In [13]:
# subject0_df[23][subject0_df[23] == 4].head()
# subject0_df[23][subject0_df[23] == 4].count() #3072

In [14]:
# subject0_df[23][subject0_df[23] == 5].head()
# subject0_df[23][subject0_df[23] == 5].count() #3072

In [15]:
# 161280 (rows) / 1440 / 12     = 9.333333333333334
# subject0_df.shape[0] / 1440 / 12

In [16]:
# 3072 * 12 #= 36864 activity data rest is 0 (ie no activity)

10 people

12 activities

24th column (ie column 23 in 0-23) is activity set and there are 12 activities

0 where there is no activity

4 is for walking for example

In [17]:
# subject0_df.to_csv('file_name.csv', header=False, index=False, encoding='utf-8')

In [18]:
subject0_df[23].value_counts()
# subject0_df.groupby(23).count()

0.0     126106
8.0       3379
5.0       3072
1.0       3072
11.0      3072
7.0       3072
6.0       3072
4.0       3072
9.0       3072
3.0       3072
10.0      3072
2.0       3072
12.0      1075
Name: 23, dtype: int64